<div class="col-md-12">
    <div class="row text-center">
        <h2>{{'login.title' | translate}}</h2>
        <h5>{{'login.subtitle' | translate}}</h5>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="row"></div>
            <div class="row">
                <form class="form-signin" ng-submit="ctrl.login()">
                    <div class="alert alert-danger" role="alert" ng-if="ctrl.failed">{{'login.error' | translate}}</div>
                    <label class="sr-only" for="username">{{ 'login.username' | translate }}</label>
                    <input class="form-control login-form-control" id="username" name="username"
                        type="text" placeholder="{{ 'login.username' | translate }}" autocomplete="username"
                        ng-model="ctrl.username" required autofocus>
                    <label class="sr-only" for="password">{{ 'login.password' | translate }}</label>
                    <input class="form-control login-form-control" id="password" name="password"
                        type="password" placeholder="{{ 'login.password' | translate }}" autocomplete="current-password"
                        ng-model="ctrl.password" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'login.signin' | translate }}</button>
                </form>
            </div>
        </div>
    </div>
</div>